:root{
    --primaryColor:#31493C;
    --textColor:#B3EFB2;
    --bgColor:#E8F1F2;
    --color4:#001A23;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    height: 100vh;
}

body {
    background-color: var(--bgColor);
    display: flex;
    flex-direction: column;
    height: 100vh;

}

footer {
    margin-top: 50vh;
    padding: 30px;
    background-color: var(--primaryColor);
    text-align: center;
}

img {
    border-radius: 15px;

}

ul {
    list-style-type: none;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    
}

nav {
    padding-top: 24px;
    margin-right: 0px;
    float: right;
    font-size: 20px;
    list-style-type: none;
    display: flex;
}

#profile-container {
    margin-left: 20px;
}

header {
    background-color: var(--primaryColor);
    height: 130px;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primaryColor);
  }


header button:hover {
    background-color: var(--bgColor);
    color: var(--primaryColor);
}

button {
    padding: 20px;
    margin: 10px;
    color: var(--textColor);
    background-color: var(--primaryColor);
    border-bottom-left-radius: 15px;
    width: 8vw;
    min-width: 90px;
    font-weight: 600;

}

h1 {
    display: inline-block;
    font-size: 48px;
    padding: 5px 20px 5px 20px;
    margin: 20px;
    color: var(--textColor);
    text-align: center;
}

h2 {
    font-size: 36px;
    padding: 0px 10px 0px 20px;
    color: var(--primaryColor);
    text-align: right;
    width: 15%;
}

h3, h4 {
    color: var(--textColor);
    text-align: center;
}

p {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
}

section {
    margin: 10px auto 15px auto;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}


#profile-pic {
    border: solid black 2px;
    min-width: 200px;
}



#work {
    display: flex;
    flex-direction: row;
}

.mini-projects {
    display: flex;
    flex-direction: row;
    justify-content: center;


}

.container {
    min-width: 80%;
}

.container1{
    margin: 20px auto;
    width:800px;
    height:auto;
    background-color:var(--bgColor);
    display:grid;
    grid-template-columns: 800px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}

.container2{
    margin: 20px auto;
    width:800px;
    height:auto;
    background-color:var(--bgColor);
    display:grid;
    grid-template-columns: 400px 400px;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.box{
    background-color:var(--primaryColor);
    padding:20px;
    border-radius:10px;
    color:#fff;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    flex-direction: column;
    
}

#about {
    display: inline-flex;
    flex-direction: row;
}

#about .content-card {
 
    width:75%;
    justify-items: center;
    display: flex;
}

#about img {
    width: 300px;
}

#resume a {
    display: block;
    margin: 10px;
    padding: 5px;
    background-color: var(--color4);
    color: var(--textColor);

}
#resume a:hover {
    filter: none;
    background-color: var(--primaryColor);
    color: var(--bgColor);

}


#resume .content-card {
 
    width:75%;
    justify-items: center;
    display: flex;
}

#contact .content-card {
 
    width:75%;
    justify-items: center;
    display: flex;
}

#contact a {
    display: block;
    margin: 10px;
    padding: 5px;
    background-color: var(--color4);
    color: var(--textColor);

}
#contact a:hover {
    filter: none;
    background-color: var(--primaryColor);
    color: var(--bgColor);

}

#work .content-card {
    margin: auto;
    padding: 5%;
}

#contact, #resume {
    width: 100%;
  
 
}

.content-card {
    border-left: solid var(--color4) 5px;
}

a {
    margin: 15px;
    display: flex;
    justify-content: center;
    width: fit-content;
}

a:hover {
    filter: blur(5px);
}

nav a:hover  {
    filter: none;
    
}
img {
    width: 90%;
}

.box {
    display: flex;
    width: auto;
    margin-left: 10%;
    flex-direction: column;
}


@media (max-width: 790px) {
    .container2 {
        display: block;
        width: auto;
        height: fit-content;
    }
    .container1 {
        display: flex;
        width: auto;
        height: fit-content;
       
    }
    section {
        display: block;
    }
    body {
        display: block;
    }
    #about {
        display: block;
        width: auto;
    }
    #about p {
        width: 100%;
    }
    #profile-container {
        height: fit-content;
    }
    #description {
        width: auto;
    }
    #about .content-card {
        width: auto;
    }
    .box {
        margin: 10px auto;
        height: auto;
    }
    nav {
        display: flex;
        margin: auto;
        align-items: center;
        padding: 0%;
        margin-top: 10px;
        min-width: 440px;
    }
    header {
        min-width: 440px;
    }
    

    h2 {
        width: auto;
        height: auto;
        text-align: center;
        display: inline-block;
        align-items: center;
        padding: 0%;
        margin: 10px 38vw;
        padding: 0px;
    }
    ul {
        margin: 0px;
        width: auto;
    }
    p {
        display: block;
        width: fit-content;
    }
    section {
        width: auto;
    }

    .container {
        width: auto;
    }

}



